/* admin-style.css */
body {
    overflow-x: hidden;
}

#sidebar-wrapper .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar-wrapper .list-group-item:first-child {
    border-top: 0;
}

#sidebar-wrapper .list-group-item:hover {
    background-color: #007bff !important;
    color: white;
}